$color1: rgba(white, .5);
body{
    .perfil{
        background-color:silver;
        width: 20%;
        height:130px;
        img{
            margin-top: 8px;
            height: auto;
            margin-left:90px;
            margin-right: auto;
        }
    }
    .mv-100{
        background-color:silver;
        width: 20%;
        height:130px;
    }
    @media (max-width: 768px) {
        a{
            color: $color1;
            &.navbar-brand{
                color: white;
            }
        }
        .nav{
            display: flex;
            select{
                box-shadow: none;
                border: 0;
                background: none;
                color: $color1;
                margin-top: 4px !important;
                option{
                    color: #555;
                }
            }
        }
        .perfil{
            border-radius: 3px;
            width: 80% !important;
            min-height: 280px;
            margin: 0 auto;
            padding-top: 20px;
            text-align: center;
            img{
                width: 70%;
                margin: 0 auto !important;
            }
        }
        .mv-100{
            width:98% !important;
            margin-left: 1%;
            padding: 5px;
            margin-top: 5px;
            border-radius: 5px;
        }
        .submenu{
            background: #4caf50;
        }
        .line-bottom{
            padding-bottom: 20px !important;
            position: relative;
            &:before{
                content: '';
                background: rgba(black, .1);
                height: 1px;
                width: 90%;
                position: absolute;
                bottom: 20px;
            }
        }
        .list-equipment{
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    position: relative;
                    // padding-left: 50px;
                    width: 100%;
                    img{
                        left: 0;
                        position: absolute;
                        border-radius: 50%;
                        box-shadow: 0 0 3px 1px rgba(black,.5);
                        height: 50px;
                        width: 50px;
                        padding-left: 0;
                    }
                    >*{
                        padding-left: 55px;
                    }
                }
            }
        }
        .flex{
            display: flex;
            button{
                padding: 8px 8px;
            }
        }
        .perfil{
            width: 100% !important;
            background: none;
            height: auto !important;
        }
    }
}